<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="IDS.Web.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <connectionStrings>
    <add name="SQlID" connectionString="sa"/>
    <add name="SQLPWD" connectionString="sa"/>
    <!-- Development -->
    <!--<add name="Conn" connectionString="server=idap8-pc\idap8;database=IDSDataEFIDev_OJK;user id=sa;pwd=sa;Connection Timeout=1440;Pooling=true;Min Pool Size=0;Max Pool Size=20;"/>
		<add name="IDSDataConnectionString" connectionString="Server=idap8-pc\idap8;Database=IDSDataEFIDev_OJK;User ID=sa;pwd=sa;Connection Timeout=1440;Pooling=true;Min Pool Size=0;Max Pool Size=20;" providerName="System.Data.SqlClient" />-->
    <!-- Testing -->
    <add name="Conn" connectionString="server=idap9;database=IDSDataFinanceSystem2021;user id=sa;pwd=sa;Connection Timeout=120;Pooling=true;Min Pool Size=20;Max Pool Size=100; Asynchronous Processing=True"/>
    <add name="IDSDataConnectionString" connectionString="Server=idap9;Database=IDSDataFinanceSystem2021;User ID=sa;pwd=sa;Connection Timeout=120;Pooling=true;Min Pool Size=20;Max Pool Size=100; Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
