<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            @*<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>*@
            <div class="row">
                <strong>Please Wait...</strong>
            </div>
        </div>
    </div>
</div>
